<!-- apps/inventario/templates/inventario/inventario.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}">
</head>
<body>
    <h1>Inventario de Productos</h1>
    <a href="{% url 'agregar_producto' %}">
        <button class="agregar-btn">Agregar nuevo producto</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Caducidad</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto_id, producto in productos.items %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.fecha_caducidad }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto_id %}" class="editar-btn">Editar</a>
                        <a href="{% url 'eliminar_producto' producto_id %}" class="eliminar-btn">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay productos en el inventario.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
